html,
body {
	width: 100%;
}

body {
	background: linear-gradient(160deg, $main-color 30%, $secondary-color);
	color: $white;
	font-size: 16px;
	font-family: $main-font;
	margin: 0 auto;

	p {
		margin: 0 0 1em;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0 0 1em;
	}

	.white-pill {
		align-content: center;
		background: $white;
		border-radius: 30px;
		border: 1px solid $accent-color;
		color: $secondary-color;
		cursor: pointer;
		display: inline-flex;
		font-weight: bold;
		height: 40px;
		letter-spacing: 0.05em;
		line-height: 40px;
		margin: 0 auto;
		padding: 0 30px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s;

		&:hover {
			background: $secondary-color;
			color: $white;
		}
	}
}
