.main-header {
	background: linear-gradient($main-color, transparent);
	display: grid;
	grid-template-columns: 250px 1fr;
	left: 0;
	margin: 0;
	padding: 15px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 99;

	@include tablet {
		background: linear-gradient($main-color 75%, transparent);
		grid-template-columns: 1fr;
	}

	.logo {
		margin: 0;

		@include tablet {
			justify-self: center;
			border-bottom: 1px solid $secondary-color;
			padding-bottom: 6px;
		}

		a {
			display: flex;
			text-decoration: none;
			width: 250px;

			img {
				margin: auto;
				width: 100%;
			}
		}
	}

	.main-nav {
		align-self: center;
		justify-self: end;
		display: flex;

		@include tablet {
			justify-self: center;
		}

		.nav-link {
			border-bottom: 3px solid transparent;
			color: $white;
			display: block;
			font-weight: bold;
			letter-spacing: 0.05em;
			padding: 6px;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s;

			@include tablet {
				font-size: 0.8em;
			}

			&.active {
				border-color: $accent-color;
			}

			&:hover {
				color: $accent-color;
			}
		}
	}
}

@keyframes slide {
	from {
		transform: translate3d(0, -100%, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
