.hero {
	background: linear-gradient(160deg, $main-color 30%, $secondary-color);
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 600px;
	position: relative;
	width: 100vw;

	.hero-img {
		display: block;
		height: 100%;
		left: 0;
		mix-blend-mode: screen;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
			opacity: 0.75;
		}
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		margin: auto;
		position: relative;
		z-index: 1;

		@include tablet {
			padding: 0 15px;
		}

		h3,
		h4,
		p {
			margin: 0 0 15px;
			text-align: center;
		}

		.tag {
			font-size: 3.25em;
			line-height: 1;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			@include tablet {
				font-size: 2em;
			}
		}

		h4 {
			font-size: 1.25em;
		}

		p {
			font-size: 1.25em;
		}

		.cta {
			align-content: center;
			background: $main-color;
			border-radius: 30px;
			border: 1px solid $accent-color;
			color: $white;
			display: inline-block;
			display: inline-flex;
			font-weight: bold;
			height: 40px;
			letter-spacing: 0.05em;
			line-height: 40px;
			margin: 30px auto 0;
			padding: 0 30px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s;

			&:hover {
				background: $secondary-color;
				color: $accent-color;
			}
		}
	}
}
