.form-page {
	display: flex;
	min-height: 100vh;
	padding: 100px 30px;

	@include tablet {
		padding: 120px 15px 100px;
	}

	.form-block {
		animation: fade linear 0.3s, slideUp ease-in-out 0.3s;
		background: $white;
		border-radius: 30px;
		margin: auto;
		max-width: 900px;
		padding: 30px;
		position: relative;
		width: 100%;
		z-index: 10;

		@include tablet {
			padding: 30px 15px;
		}

		.form-title,
		.extras-title {
			color: $main-color;
			margin: 0 0 15px;

			@include tablet {
				text-align: center;
			}
		}

		.trip-form {
			display: grid;
			grid-gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

			@include tablet {
				grid-template-columns: 1fr;
			}

			.form-field {
				position: relative;
				margin-bottom: 15px;

				label {
					color: rgba($main-color, 0.7);
					height: 30px;
					left: 0;
					line-height: 30px;
					padding: 0 6px;
					padding: 0 6px;
					pointer-events: none;
					position: absolute;
					position: absolute;
					top: 0;
					transition: all 0.3s;
					width: 100%;
					z-index: 1;
				}

				.input {
					border-radius: 6px;
					border: 1px solid $secondary-color;
					color: $main-color;
					font-family: $main-font;
					height: 30px;
					padding: 0 6px;
					width: 100%;
					line-height: 30px;
					position: relative;
					z-index: 0;
					transition: all 0.3s;

					&:focus {
						background: #fff;
						border-color: $accent-color;
					}

					&:focus,
					&:valid,
					&:not(:placeholder-shown) {
						+ label {
							opacity: 0;
						}
					}
				}

				&.invalid {
					input {
						border: 1px solid tomato;
					}

					&:before {
						background: $white;
						color: tomato;
						content: '* required';
						font-size: 0.7em;
						font-weight: bold;
						letter-spacing: 0.05em;
						padding: 3px;
						position: absolute;
						right: 9px;
						text-transform: uppercase;
						top: -9px;
						z-index: 10;
					}
				}

				&.options {
					display: flex;

					@include tablet {
						flex-wrap: wrap;
					}

					label {
						color: $main-color;
						padding: 0;
						margin-left: 15px;
						position: relative;
						width: auto;

						@include tablet {
							margin: 0;
						}
					}

					.counter {
						display: flex;

						@include tablet {
							width: 100%;
						}

						.btn {
							background: $secondary-color;
							color: $white;
							cursor: pointer;
							height: 30px;
							line-height: 30px;
							padding: 0 6px;
							width: 21px;
							text-align: center;

							@include tablet {
								height: 40px;
								line-height: 40px;
								padding: 0 9px;
								width: 27px;
							}

							&.minus {
								border-radius: 6px 0 0 6px;
							}

							&.add {
								border-radius: 0 6px 6px 0;
							}

							&:hover {
								opacity: 0.85;
							}
						}

						.input {
							width: 2em;
							border-radius: 0;
							text-align: center;

							@include tablet {
								line-height: 40px;
								height: 40px;
							}
						}
					}

					.info-msg {
						color: $main-color;
						line-height: 30px;
					}
				}

				.check {
					border-radius: 50%;
					border: 1px solid $secondary-color;
					flex-grow: 0;
					flex-shrink: 0;
					height: 30px;
					width: 30px;

					&:checked {
						box-shadow: inset 0 0 0 6px $white, inset 0 0 0 15px $accent-color;
					}
				}
			}

			.extras {
				display: flex;
				flex-direction: column;

				.options {
					&.with-check {
						@include tablet {
							flex-wrap: nowrap;
						}

						.check {
							@include tablet {
								flex-basis: auto;

								margin-right: 12px;
								min-width: 30px;
							}
						}

						label {
							@include tablet {
								font-size: 0.8em;
								height: auto;
								line-height: 1.5;
								width: 100%;
							}

							strong {
								@include tablet {
									display: block;
									width: 100%;
								}
							}
						}
					}
				}

				.price {
					margin: auto 0 0 0;

					@include tablet {
						margin: 30px auto;
					}

					h4 {
						color: $accent-color;
						text-transform: uppercase;
						margin: 0;

						@include tablet {
							text-align: center;
						}
					}

					.amount {
						color: $accent-color;
						font-weight: bold;
						font-size: 3em;
						margin: 0;

						@include tablet {
							font-size: 2em;
							text-align: center;
						}
					}
				}
			}

			.submit {
				grid-column: 1/-1;
			}
		}

		.confirm-modal {
			background: $secondary-color;
			border-radius: 30px;
			bottom: 0;
			left: 0;
			opacity: 0;
			padding: 30px;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 0;
			transition: all 0.3s;
			z-index: 90;

			&.visible {
				align-content: center;
				display: flex;
				flex-direction: column;
				opacity: 1;
				pointer-events: initial;
			}

			h3 {
				text-align: center;
				font-size: 2.5em;
				margin: auto 0 15px;
			}

			p {
				text-align: center;
				font-size: 1.5em;
			}

			.white-pill {
				margin: 30px auto auto;
			}
		}
	}
}

.flatpickr-calendar {
	box-shadow: 1px 0 0 $secondary-color, -1px 0 0 $secondary-color, 0 1px 0 $secondary-color,
		0 -1px 0 $secondary-color, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.flatpickr-months {
	.flatpickr-prev-month,
	.flatpickr-next-month {
		&:hover {
			svg {
				fill: $accent-color;
			}
		}
	}
}

.flatpickr-day.selected {
	background: $accent-color;
	border-color: $accent-color;
}
