.travel {
	display: flex;
	min-height: 100vh;
	padding: 100px 30px;

	@include tablet {
		padding: 120px 15px 100px;
	}

	.travel-box {
		animation: fade linear 0.3s, slideUp ease-in-out 0.3s;
		background: rgba(#333, 0.5);
		border-radius: 30px;
		margin: auto;
		max-width: 900px;
		padding: 30px;
		position: relative;
		width: 100%;

		@include tablet {
			padding: 30px 15px;
		}

		.data {
			display: flex;

			@include tablet {
				flex-direction: column;
			}

			.travel-data {
				padding-right: 30px;

				@include tablet {
					padding: 0;

					* {
						text-align: center;
					}
				}

				h3 {
					font-size: 1.25em;
					margin: 0 0 15px;
					text-transform: initial;
				}

				.date {
					color: $accent-color;
					font-size: 2em;
					margin: 0 0 15px;
					text-transform: initial;
				}
			}

			.passengers-data {
				display: flex;
				flex-grow: 2;
				justify-content: flex-end;
				width: 60%;

				@include tablet {
					flex-direction: column;
					justify-content: center;
					margin: 30px 0;
					width: 100%;
				}

				.content {
					padding: 0 6px 0 0;
					align-self: center;
					margin: 0 0 15px;

					h4 {
						margin: 0;
						text-align: right;
						letter-spacing: 0.05em;
						text-transform: uppercase;

						@include tablet {
							text-align: center;
						}
					}

					p {
						text-align: right;

						@include tablet {
							text-align: center;
						}
					}
				}

				.ring-wrapper {
					height: fit-content;
					margin: -9px 0 0;
					position: relative;

					@include tablet {
						margin: -21px auto 0;
						width: 160px;
					}

					&:before {
						border-radius: 100%;
						border: 3px solid $secondary-color;
						content: '';
						display: block;
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						transform: scale(0.8);
						width: 100%;
						z-index: 1;
					}

					.count {
						position: absolute;
						top: 40%;
						text-align: center;
						width: 100%;

						span {
							font-weight: bold;
							font-size: 1.25em;
						}
					}

					.passengers-count {
						display: block;
						position: relative;
						z-index: 2;

						circle {
							stroke: $accent-color;
						}
					}
				}
			}
		}

		.cta-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.content {
				padding: 15px;

				p {
					font-size: 1.5em;
					text-align: center;
					margin: 0;

					&.price {
						font-size: 1.75em;
						color: $accent-color;
					}
				}
			}

			.cta {
				text-decoration: none;
			}
		}
	}
}
