@import './presets/*.scss';

*,
*:after,
*:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none !important;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	hyphens: auto;
	outline: none;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slideUp {
	from {
		transform: translateY(100px);
	}
	to {
		transform: translateY(0);
	}
}

@import './components/*.scss';
