$main-color: #3f4458;
$secondary-color: #623846;
$accent-color: #c6a66d;
$white: #fff6e7;

@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,700,800');
$main-font: 'Encode Sans', Verdana, sans-serif;
